
h1{
    margin:200px;
}
nav {
    width: 100%;
    text-align: left;
    position: fixed;
    top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background-color: teal; */
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 60px;

}
nav a {
    text-decoration:none ;
    color: white;
}
.header{
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     height:80vh; 
     /* height: 50%;  */
    padding-bottom: 15%;
    color:white;
}
header .first-image {
    margin-top: 10%;
    margin-left: 47%;
}
header .welcome {
    text-align: center;
    margin-top: 6%;
}