
header{
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     height:100vh; 
     height: 70%; 
    padding-bottom: 15%;
    color:white;
}
header .first-image {
    margin-top: 10%;
    margin-left: 47%;
}
header .welcome {
    text-align: center;
    margin-top: 4%;
}
.nav {
    float: left;
    display: inline;
    margin-top: 20%;
}